# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
analysis/

# Data / Datasets
data/

concept_inspection/
saved_models/

weights/
logs/
plots/
# Cache
.cache/
__pycache__/
*.log
*.__pycache____
*.tm
*.pyc
CLIP_LoRA/loralib/__pycache__/
CLIP_LoRA/loralib/*.pyc
lora_merged/
./clip_vitb32_lora_merged.pt
*.pth
*.ckpt
*.bin
*.npz
*.npy
*.txt

*.tsv
training/
patchsae/diff_neuron_plots/
concept_eval/

# Model weights and datasets
maple_weights/
*.pth.tar-*
*.zip

# Large training logs
patchsae/full_training_log.txt




