# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
analysis/

# Data / Datasets
data/
datasets/


concept_inspect/



# Cache
.cache/
__pycache__/
